<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <!-- Overview Sidebar -->
  <div class="p-5 flex flex-col items-center md:border-r border-gray-300">
    <img
      class="rounded-full w-36 h-36 object-cover border mb-4"
      [ngSrc]="imagePath" width="auto" height="auto"
      alt="Overview Default Image"
      i18n-alt="Overview Default Image Description|Alt text for overview image"
    />
    <h2 class="font-bold text-lg">Users overview</h2>
    <p class="text-sm text-gray-500"></p>
  </div>

  <!-- Data Overview Section -->
  <div class="md:col-span-2 p-5">
    <div class="flex items-center justify-between border-b pb-4 mb-6">
      <h3 class="text-lg font-semibold" i18n="Overview Settings Header">Users Overview</h3>
      <button
        class="bg-blue-500 text-white py-1 px-4 rounded-md hover:bg-blue-600 focus:outline-none"
        (click)="addNewUser()"
        i18n="Add User Button"
      >
        Add User
      </button>
    </div>

    <!-- Users Table -->
    <div class="overflow-auto">
      <table class="table-fixed w-full text-left border border-gray-300 rounded-lg">
        <thead class="bg-gray-200">
        <tr>
          <th class="p-2 text-sm font-medium text-gray-600" i18n="Header User ID">ID</th>
          <th class="p-2 text-sm font-medium text-gray-600" i18n="Header Name">Name</th>
          <th class="p-2 text-sm font-medium text-gray-600" i18n="Header Email">Email</th>
          <th class="p-2 text-sm font-medium text-gray-600" i18n="Header Role">Role</th>
          <th class="p-2 text-sm font-medium text-gray-600" i18n="Header Actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let user of users"
          class="border-t border-gray-300 hover:bg-gray-50"
        >
          <td class="p-2 text-sm">{{ user.id }}</td>
          <td class="p-2 text-sm">{{ user.firstName }} {{ user.lastName }}</td>
          <td class="p-2 text-sm">{{ user.email }}</td>
          <td class="p-2 text-sm">{{ user.city }}</td>
          <td class="p-2 flex space-x-2">
            <button
              class="text-blue-500 hover:underline"
              (click)="editUser(user.id)"
              i18n="Edit Button"
            >
              Edit
            </button>
            <button
              class="text-red-500 hover:underline"
              (click)="deleteUser(user.id)"
              i18n="Delete Button"
            >
              Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="!users.length" class="text-center">
          <td colspan="5" class="p-5 text-sm text-gray-500" i18n="No Users Message">
            No users available.
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
